 .u-section-1 {
  background-image: url("images/beautifulworld.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-text-1 {
  font-family: "Alex Brush";
  font-size: 6.25rem;
  line-height: 1;
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 466px 70px 0 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 667px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 6px 503px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 18px auto 60px 0;
  padding: 10px 113px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    height: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 83px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 35.27% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 33.6% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    padding-right: 68px;
    padding-left: 67px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 488px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  width: 881px;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 303px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 212px;
  margin: 16px auto 0 2px;
}

.u-section-2 .u-accordion-item-1 {
  margin-left: auto;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 320px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-accordion-2 {
  width: 212px;
  margin: 16px auto 0 2px;
}

.u-section-2 .u-accordion-item-2 {
  margin-left: auto;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 320px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-accordion-3 {
  width: 212px;
  margin: 16px auto 0 2px;
}

.u-section-2 .u-accordion-item-3 {
  margin-left: auto;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 320px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-accordion-4 {
  width: 212px;
  margin: 16px auto 0 2px;
}

.u-section-2 .u-accordion-item-4 {
  margin-left: auto;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 320px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-14 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-15 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-16 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-accordion-5 {
  width: 212px;
  margin: 16px auto 0 2px;
}

.u-section-2 .u-accordion-item-5 {
  margin-left: auto;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-2 .u-icon-10 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 320px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-btn-17 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-18 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-19 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

.u-section-2 .u-btn-20 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 10px 20px 10px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 498px;
  }

  .u-section-2 .u-accordion-1 {
    width: 305px;
    margin-right: 0;
  }

  .u-section-2 .u-accordion-2 {
    width: 305px;
    margin-right: 0;
  }

  .u-section-2 .u-accordion-3 {
    width: 305px;
    margin-right: 0;
  }

  .u-section-2 .u-accordion-4 {
    width: 305px;
    margin-right: 0;
  }

  .u-section-2 .u-accordion-5 {
    width: 305px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 857px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-accordion-1 {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-accordion-2 {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-accordion-3 {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-accordion-4 {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-accordion-5 {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 909px;
  margin: 44px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 45px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 248px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 37.16%;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  transition-duration: 0.5s;
  font-size: 1.25rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -13px 0 0;
}

.u-section-3 .u-text-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  transition-duration: 0.5s;
  font-size: 1.25rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -13px 0 0;
}

.u-section-3 .u-text-5 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 54.29% 0%;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 9px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  transition-duration: 0.5s;
  font-size: 1.25rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -13px 0 0;
}

.u-section-3 .u-text-7 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-style: italic;
  margin: 9px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 203px;
  }

  .u-section-3 .u-image-1 {
    height: 275px;
  }

  .u-section-3 .u-image-2 {
    height: 275px;
  }

  .u-section-3 .u-image-3 {
    height: 275px;
  }

  .u-section-3 .u-btn-1 {
    padding: 10px 113px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 494px;
  }

  .u-section-3 .u-image-1 {
    height: 322px;
  }

  .u-section-3 .u-image-2 {
    height: 322px;
  }

  .u-section-3 .u-image-3 {
    height: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-3 .u-image-1 {
    height: 239px;
  }

  .u-section-3 .u-image-2 {
    height: 239px;
  }

  .u-section-3 .u-image-3 {
    height: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2425px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 257px;
  }

  .u-section-3 .u-image-2 {
    height: 257px;
  }

  .u-section-3 .u-image-3 {
    height: 257px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 90px;
    padding-right: 90px;
  }
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-6 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-33:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-33:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-33:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-33:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-da38-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-da38-62:not([data-block-selected]):not([data-cell-selected]).u-block-da38-62:not([data-block-selected]):not([data-cell-selected]).u-block-da38-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-da38-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-74:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-74:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-da38-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-icon-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-icon-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-icon-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-da38-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-da38-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-da38-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-da38-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-icon-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-icon-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-icon-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-icon-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-72:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-72:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-84:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-84:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-84:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-80:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-80:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-80:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-80:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-80:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-da38-86:not([data-block-selected]):not([data-cell-selected]),
.u-block-da38-86:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-da38-86:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-da38-86:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-da38-86:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-4 {
  background-image: url("images/a3e1f129-98b6-e3f1-c769-a621b6f771c9.png");
  background-position: 50% 0%;
}

.u-section-4 .u-sheet-1 {
  min-height: 864px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 6.25rem;
  font-family: "Alex Brush";
  line-height: 1;
  margin: 20px 60px 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  margin: 12px 60px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  font-weight: 700;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
  padding: 16px 46px 17px;
}

.u-section-4 .u-map-1 {
  width: 1020px;
  height: 329px;
  margin: 41px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-4 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 4.79% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-4 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-4 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 4.68% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-map-1 {
    width: 340px;
  }
}